doctype html
html
  head
    title SVG Text
    style.
      .container {
        display: flex;
        column-gap: 10px;
      }
  body
    script.
      function onReload() {
        window.location.reload()
      }
    h1 Demo Render Text Path
    button(onclick='onReload()') Click
    .container
      #svg-pure
        != input
      #svg-result
        != output